body{
  background-color: rgb(157, 193, 67);
  color: rgb(47, 42, 42);
}



.cards{
  background-color: #f3f3f3;
}

.loader-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
     /* Set the height of the container to the full viewport height */
  }


  
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid hsla(0, 0%, 6%, 0.593); /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    
  }

  .header-content {
  /* Set your desired background color */
    padding: 10px; /* Set your desired padding */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for a nice effect */
  }
  
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


@media (prefers-color-scheme: light) {

}
